.panel {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.panel--no-shadow {
  box-shadow: none;
}

.panel--bordered {
  border: 1px solid var(--main-border-color);
}

.panel__header {
  font-size: 32px;
  font-weight: 400;
}
