:root {
  --body-bg-color: #ffffff;
  --main-bg-color: #ffffff;
  --main-text-color: #19202d;
  --main-border-color: #f4f6f8;
}

:root[data-theme='dark'] {
  --body-bg-color: #121721;
  --main-bg-color: #19202d;
  --main-text-color: #ffffff;
  --main-border-color: #6e8098;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #121721;
    --main-bg-color: #19202d;
    --main-text-color: #ffffff;
    --main-border-color: #6e8098;
  }
}

* {
  transition: background-color 0.2s linear, color 0.2s linear,
    border-color 0.2s linear;
}

body {
  background-color: var(--body-bg-color);
}
